body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #dfdfdf;
    background-color: #2a3143;
}

#centered {
    display: inline-block;
    text-align: center;
    visibility: hidden;
}

#me {
    height: 15em;
    border-radius:999px;
    -moz-border-radius:999px;
    -webkit-border-radius:999px;
    border: .3em solid #bb896e;
}

#text {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 2em;
}

#author {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 75%;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
}

#links {
    position: fixed;
    bottom: 3em;
    left: 3em;
}

a {
    font-size: 1.15em;
}

a:link {
    color: #dfdfdf;
}

a:visited {
    color: #dfdfdf;
}

a:hover {
    color: #bb896e;
}

a:active {
    color: #bb896e;
    text-decoration: none;
}
